<div class="splats">
  <div class="attached page ui inverted secondary menu">
    <a class="active item">Bienvenido a PaintSpain</a>
    <a class="item">Servicios</a>
    <a class="item">Precio</a>
    <a class="item">Fiestas</a>
    <div class="right menu">
      <a class="ui item">Contactanos</a>
      <button class="hero-btn menu-btn">Iniciar sesión</button>
    </div>
  </div>
  <div class="content">PaintSpain</div>
  <img class="splatter" src="http://static.indigoimages.ca/2015/shop/orange-paint-splatter.png">
  <img class="splatter3" src="http://static.indigoimages.ca/2015/shop/blue-paint-splatter.png">
  <img class="splatter2" src="http://static.indigoimages.ca/2015/shop/red-paint-splatter.png">
</div>
