<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="client-form">
  <h2 class="form-title">{{ isEditMode ? 'EDITAR CLIENTE' : 'NUEVO CLIENTE' }}</h2>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" required />
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngIf="clientForm.get('name')?.hasError('required')">
      Este campo es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Correo electrónico</mat-label>
    <input matInput formControlName="contactEmail" required autocomplete="email" />
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="clientForm.get('contactEmail')?.hasError('required')">
      El email es obligatorio.
    </mat-error>
    <mat-error *ngIf="clientForm.get('contactEmail')?.hasError('email')">
      Ingresa un correo válido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ingresos</mat-label>
    <input matInput type="number" formControlName="revenue" required min="1" />
    <mat-icon matSuffix>attach_money</mat-icon>
    <mat-error *ngIf="clientForm.get('revenue')?.hasError('required')">
      El ingreso es obligatorio.
    </mat-error>
    <mat-error *ngIf="clientForm.get('revenue')?.hasError('min')">
      El ingreso debe ser mayor a 0.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="startDate" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="clientForm.get('startDate')?.hasError('required')">
      Fecha obligatoria.
    </mat-error>
  </mat-form-field>

  <div class="button-group">
    <button *ngIf="!isEditMode" mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="clientForm.invalid">
      Guardar cliente
    </button>
    <button *ngIf="isEditMode" mat-raised-button color="accent" class="submit-btn" type="submit" [disabled]="clientForm.invalid">
      Modificar cliente
    </button>
  </div>

  <button mat-raised-button color="warn" class="submit-btn"
          type="button" [disabled]="!clientId"
          (click)="deleteClient()">
    Eliminar cliente
  </button>
</form>

